.index{
	height:100%;
	width:100%;
	position: absolute;
	overflow: hidden;
	z-index: 8;
}
.step-1{
	background: #000;
	position: absolute;
	height:100%;
	width:100%;
}
.step-2{
	background: yellow;
	height:100%;
	width:100%;
}
.step-3{
	background: red;
	height:100%;
	width:100%;
}