.index{
	height:100%;
	width:100%;
	position: absolute;
	overflow: hidden;
}
.step-1{
	background: #000;
	height:100%;
	width:100%;
}
.step-2{
	background: #fff;
	height:100%;
	width:100%;
}
.step-3{
	background: red;
	height:100%;
	width:100%;
}