<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>陶鑫&曹馨怡婚礼邀请函</title>
	<link rel=icon type="image/png" sizes="16x16" href="http://od2vc9vqy.bkt.clouddn.com/2017_08_20_1725465155.png">
	<link rel=icon type="image/png" sizes="32x32" href="http://od2vc9vqy.bkt.clouddn.com/2017_08_20_1725465155.png">
	<link rel=icon type="image/png" sizes="48x48" href="http://od2vc9vqy.bkt.clouddn.com/2017_08_20_1725465155.png">
	<link rel=icon type="image/png" sizes="96x96" href="http://od2vc9vqy.bkt.clouddn.com/2017_08_20_1725465155.png">
	<link rel="stylesheet" href="./index.css">
</head>

<body>
	<div class="page-index" id="app">
		<!-- <div class="mask"></div> -->
		<div class="side">
			<div class="side-body">
				<div class="caption">陶鑫&曹馨怡</div>
				<div class="desc">2017年10月5日新婚之喜！</div>
				<div class="countdown">
					<div class="title">距离大喜还有</div>
					<div class="countdown-body" id="countdown">
						<span v-for="d in date">{{d}}</span><strong v-if="flag">天</strong>
					</div>
				</div>
				<div class="qr-code">
					<div class="qr-code-body">
					</div>
					<div class="scan">扫一扫观看邀请函</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="http://od2vc9vqy.bkt.clouddn.com/vue.js"></script>
	<script>
		new Vue({
			el: '#app',
			data(){
				return{
					date: [],
					flag: true
				}
			},
			mounted(){
				var date = this.countDownDay();
				if(date === 0 ){
					this.date = ['婚','礼','中'];
					this.flag = false
				}else{
					this.date = this.countDownDay().toString().split('');
				}
			},
			methods:{
				countDownDay(){
					var day = Math.ceil( ( new Date('2017-08-21') - new Date() )/1000/60/60/24 );
					return day;
				}
			}
		})
	</script>
</body>
</html>